@model GimnasioApp.Application.DTOs.ClaseDTO

@{
    ViewData["Title"] = "Eliminar Clase";
}

<h1>Eliminar Clase</h1>

<h3>¿Estás seguro de que quieres eliminar esta clase?</h3>
<div>
    <h4>Clase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadMaxima)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CapacidadMaxima)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>